[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
"autopep8" = "*"
gunicorn = "*"
django = "==2.0.2"
graphene = "==2.0.1"
graphene-django = "==2.0.0"
django-filter = "==1.1.0"
django-graphql-jwt = "==0.1.5"
django-heroku = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.6"
